.tripheader{
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 70vh;
  background-attachment: fixed;
}
#tripPlanner {
    background:transparent;
}