.absolute-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#cloud {
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #000428, #004e92);
  background: linear-gradient(to bottom, #000428, #004e92);
}
.cloud-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cloud-container img {
  position: fixed;
  bottom: 0;
  max-width: 100%;
  animation: cloud calc(40s * var(--i)) linear infinite;
}

@keyframes cloud {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(+100%);
  }
}
#cloud .nav-menu.active{
  background: #133667 !important;
 }
 #cloud .nav-links{
  color: white !important;
 }