.react-search-box-dropdown-list-item {
  color: black;
}

.parentSearchbox {
  display: flex;
}

.button {
  height: 40px;
  border-radius: 8px;
  border-width: thin;
}

/* .dePyzG {
  width: 140%;
} */

.zNoeh {
  width: 70%;
}
