.footer {
  padding-bottom: 0px;
  position: relative;
  margin-bottom: -200px !important;
  background-color: white;
}

.tripfooter {
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
