.absolute-bg {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#clearsky {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2980b9,
    #6dd5fa,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2980b9,
    #6dd5fa,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#sunny {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sky-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sky-img {
  position: fixed;
  min-height: 100vh;
  width: 300vw;
  background: url("./cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: marquee 60s linear infinite;
  overflow: hidden;
}
#clearsky .center-text-div {
  color: #133667;
}

#clearsky .heading-h1 {
  color: #133667;
}
