@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/* color variables */
/* border radius */
.weatherCard,
.weatherCard::before,
.weatherCard::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --content-bg: rgb(146 151 179 / 13%);
}

.weatherCard {
  display: flex;
  flex-direction: column;
  width: 220px;
  /* width: calc(33.3% - 20px); */
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0.4em;
  height: 200px;
}
.weatherCard:hover {
  transform: scale(1.02);
  background-color: var(--theme-bg-color);
}
.weatherCard svg {
  width: 28px;
  border-radius: 6px;
  margin-right: 12px;
  flex-shrink: 0;
}

.weatherCard span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
}
span.app-card__precip_wind {
  display: flex;
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 200;
}
.app-card__subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 2px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}
.app-card-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 16px;
}
.app-card-img-1 {
  border: 4px;
  padding: 0.2em;
  /* margin: 0.3em; */
}
.app-card-img-2 {
  border: 2px;
  padding: 2px;
  margin: 2px;
  margin-top: 3px;
  margin-bottom: 2px;
}
.app-card-img-3 {
  border: 2px;
  padding: 2px;
  margin: 3px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 33px;
}
@media screen and (max-width: 1110px) {
  .weatherCard {
    width: calc(100% - 20px);
  }
  .weatherCard:last-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 565px) {
  .weatherCard {
    width: calc(100% - 20px);
    margin-top: 20px;
  }
  .weatherCard + .weatherCard {
    margin-left: 0;
  }
}
