.from-search-box {
  position: relative;
  display: inline-block;
  width: 50%;
  z-index: 10;
}
@media (max-width: 575.5px) {
  .from-search-box {
    width: 100%;
    z-index: 10;
  }
}
.box-header {
  padding-left: 10%;
  padding-right: 10%;
}
