@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.fav-container {
  height: fit-content;
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding: 3%;
}
