@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.fav-container {
  height: fit-content;
  width: 75%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  margin: 0px !important;
  padding: 3%;
}
.slider-wrapper {
  height: 530px !important;
}
.slider-wrapper > ul {
  height: 450px !important;
  width: calc(33.33%) !important;
}

.cards-container {
  display: flex;
  flex-direction: column;
}
.heading {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-h1 {
  color: rgb(31, 213, 219);
}
.heading-h1 {
  text-align: center;

  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.heading-h1:after,
.heading-h1:before {
  content: ' ';
  display: block;
  border-bottom: 20px solid #ccc;
  background-color: #f8f8f8;
}

@media only screen and (orientation: portrait) and (max-width: 1030px) {
  .slider-wrapper > ul {
    height: 450px !important;
    width: calc(50%) !important;
  }
}
@media only screen and (orientation: portrait) and (max-width: 800px) {
  .slider-wrapper > ul {
    height: 450px !important;
    width: calc(100%) !important;
  }
}
@media only screen and (orientation: portrait) and (max-width: 450px) {
  .slider-wrapper > ul {
    height: 450px !important;
    width: calc(100%) !important;
  }
  .fav-container {
    width: 100%;
    padding: 0%;
  }
}
@media only screen and (orientation: portrait) and (max-width: 320px) {
  .slider-wrapper {
    height: 490px !important;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1300px) {
  .slider-wrapper > ul {
    height: 450px !important;
    width: calc(50%) !important;
  }
}
@media only screen and (orientation: landscape) and (max-width: 930px) {
  .slider-wrapper > ul {
    height: 450px !important;
    width: calc(100%) !important;
  }
}
