.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width: 500px){  
  .card {
    background-color: white;
    min-width: 200px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 8px;
    color: black;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
  
  
@media (min-width: 501px) {  
  .card {
    background-color: white;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 8px;
    color: black;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}