.swiper-container {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  height: 350px;
  transition: all 0.3s;
  background: rgb(146 151 179 / 13%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin-top: 80px;
}
@media screen and (max-width: 992px) {
  .swiper-container {
    max-width: 680px;
    height: 400px !important;
  }
  .blog-slider__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    /* min-height: 500px; */
    height: 400px !important;
    width: 80% !important;
    /* margin: 180px auto; */
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .swiper-container {
    height: 350px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left !important;
  height: 400px !important;
  max-height: 400px !important;
  margin: 0px !important;
}

.blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px !important;
  border-radius: 20px;
  transform: translateX(-22px);
  overflow: hidden;
  z-index: 9999 !important;
}
.blog-slider__img :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 1;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}

/* @media screen and (max-width: 992px) {
    .blog-slider__img{
    // width: 45%;
    }
  } */
@media screen and (max-width: 768px) {
  .blog-slider__img {
    height: 100%;
  }
  .blog-slider__img img {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
  padding-bottom: 30px !important;
}

@media screen and (max-width: 800px) {
  .blog-slider__content {
    transform: translateY(-50%);
    /* text-align: center; */
    margin-top: 0px !important;
    /* padding: 0 30px; */
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 1;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: white;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: rgba(255, 255, 255, 0.774);
  margin-bottom: 30px;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  .blog-slider__code {
    font-size: 0.9rem;
  }
  .blog-slider__text {
    font-size: 0.8rem;
  }
  .blog-slider__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

/* This is targeting scrollbar which we needed */
.swiper-scrollbar {
  display: block;
  width: 20px !important;
  border-radius: 10px;
  height: 100px !important;
  opacity: 1;
  transition: all 0.3s;
  background: rgb(146 151 179 / 13%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
}
/* This is the class which is overwriting our rules in above one */
.swiper-container-vertical > .swiper-scrollbar {
  top: 50%;
  transform: translateY(-50%);
}

/* This is the bullet point for current slide */
.swiper-scrollbar-drag {
  opacity: 1;
  background: #fff;
  height: 50px !important;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 800px) {
  .blog-slider__content {
    margin-top: 380px !important;
  }
}
@media screen and (max-width: 500px) {
  .blog-slider__content {
    margin-top: 380px !important;
  }
}
@media screen and (max-width: 410px) {
  .blog-slider__content {
    margin-top: 420px !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-scrollbar {
    width: 15px !important;
    height: 80px !important;
  }
  .swiper-scrollbar-drag {
    height: 8px;
    width: 15px;
  }
}

/* This is Basically removing the buttons */
.swiper-button-next {
  display: none;
}
.swiper-button-prev {
  display: none;
}

.heading {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.heading-h1 {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  position: relative;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}
