.card-fav {
  margin: 2%;
  padding: 5px 30px;
  width: 95%;
  min-height: 450px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: open 2s cubic-bezier(0.39, 0, 0.38, 1);
}

@-webkit-keyframes open {
  from {
    padding: 0 30px;
    height: 0;
  }
  to {
    height: 470px;
  }
}

h1, h2, h3, h4 {
  position: relative;
}

h1 {
  float: right;
  color: #666;
  font-weight: 300;
  font-size: 5.59375em;
  line-height: 0.2em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

h2 {
  color: black;
  font-weight: 600;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1);
}

.head-fav {
  margin: auto;
  color: #777;
  font-weight: 400;
  font-size: 1em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}

.head-fav span {
align-content: center;
  color: #999;
  font-weight: 300;
}

.head-fav span span {
  margin-left: 0;
}

.dot {
  font-size: 0.9em;
}

.sky {
  position: relative;
  margin-top: 108px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #03a9f4;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

.sun {
  position: relative;
  top: -3px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffeb3b;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.5s;
}

.cloud {
  position: absolute;
  top: 60px;
  left: 30px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.7s;
}

.cloud:before, .cloud:after {
  position: absolute;
  display: block;
  content: '';
}

.cloud:before {
  margin-left: -10px;
  width: 51px;
  height: 18px;
  background: #fff;
}

.cloud:after {
  position: absolute;
  top: -10px;
  left: -22px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
  color: black;
}

tr:nth-child(1) td:nth-child(1), tr:nth-child(1) td:nth-child(2), tr:nth-child(1) td:nth-child(3), tr:nth-child(1) td:nth-child(4), tr:nth-child(1) td:nth-child(5) {
  padding-bottom: 32px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.7s;
}

tr:nth-child(2) td:nth-child(1), tr:nth-child(2) td:nth-child(2), tr:nth-child(2) td:nth-child(3), tr:nth-child(2) td:nth-child(4), tr:nth-child(2) td:nth-child(5) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.9s;
}

tr:nth-child(3) td:nth-child(1), tr:nth-child(3) td:nth-child(2), tr:nth-child(3) td:nth-child(3), tr:nth-child(3) td:nth-child(4), tr:nth-child(3) td:nth-child(5) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.9s;
}

tr:nth-child(2), tr:nth-child(3) {
  font-size: 0.9em;
}

tr:nth-child(3) {
  color: #999;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  99% {
    -webkit-animation-play-state: paused;
  }
  100% {
    opacity: 1;
  }
}

.imageicon {
  height: 100px !important;
  width: 100px !important;
}

@media only screen and (orientation: portrait) and (max-width: 300px) {
  .card-fav{
    min-height: 410px;
  }
  .card-fav h1{
     font-size: 2.59375em;;
  }
}