.center-text-div {
    position: relative;
    margin: auto;
    width: 50%;
    padding-top: 2%;
    text-align: center;
}
.temparature {
    display: inline-block;
    margin : auto;
    -webkit-transform: translate3d(0,0,85px);
    transform: translate3d(0,0,85px);
    font-family: Manrope,sans-serif;
    font-size: 140px;
    line-height: 140px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.weather {
    display: block;
    overflow: visible;
    width: auto;
    background-color: transparent;
    -webkit-transform: translate3d(0,0,70px);
    transform: translate3d(0,0,70px);
    font-family: Manrope,sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;

}

input {
   margin-top: 5%;
    padding: 10px;
    border-radius: 4px;
    border: 10px;
    width: 500px;
    height:50px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
  }
  ::placeholder {
    color: #fff;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Manrope,sans-serif;
  }

