input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 70%;
  height: 5%;
}

.input-container {
  display: grid;
  place-items: center;
  margin: 4% 0;
  height: 26rem;
}

.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  height: 100%;
}

.inputElement {
  display: grid;
  place-items: center;
  flex: 0.35;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.mapElement {
  flex: 0.65;
}

.insideDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insideDiv h2 {
  margin: 0px;
  margin-bottom: 10%;
}

.favo {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 60%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.favo .fa-bookmark {
  margin-right: 5%;
}

@media only screen and (orientation: portrait) and (max-width: 1030px) {
  .input-div{
    width: 70%;
  }
}

@media only screen and (orientation: portrait) and (max-width: 780px) {
  .input-container {
    height: 20rem;
  }
  .input-div {
    width: 80%;
  }
  .insideDiv h2{
    font-size: 20px;
  }
}

@media only screen and (orientation: portrait) and (max-width: 700px) {
  .insideDiv h2 {
    font-size: 15px;
  }
  .favo{
    height: 10%;
    width: 70%;
  }
  .favo span{
    font-size: 12px;
  }
  .favo .fa-bookmark{
    font-size: 12px;
    margin-right: 10px;
  }
}

@media only screen and (orientation: portrait) and (max-width: 420px) {
  .input-div {
    flex-direction: column;
  }
  .insideDiv h2 {
    font-size: 15px;
  }
  .inputElement {
    border-radius: 10px 10px 0 0;
  }
  .favo{
    height: 20%;
    margin-bottom: 15px;
    width: 50%;
  }
  .favo span{
    font-size: 13px;
  }
  .favo i{
    font-size: 13px;
  }
  
}

@media only screen and (orientation: landscape) and (max-width: 1300px) {
  .input-div {
    width: 80%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 830px) {
  .insideDiv h2 {
    font-size: 18px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 570px) {
  .input-container {
    height: 20rem;
  }
  .input-div {
    width: 90%;
  }
  .insideDiv h2 {
    font-size: 15px;
  }
  .favo{
    height: 10%;
    width: 70%;
  }
  .favo span{
    font-size: 12px;
  }
  .favo .fa-bookmark{
    font-size: 12px;
    margin-right: 10px;
  }
}

