@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  background-color: #133667;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  z-index: 5;
  position: relative;
}

.Results {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}
.heading {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.heading-h1 {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  position: relative;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}
