body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 70%;
  height: 5%;
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*
Styling of Map and input elemnents start from here
*/
.input-container {
  display: grid;
  place-items: center;
  margin: 4% 0;
  height: 26rem;
}
.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  height: 100%;
}

.inputElement {
  display: grid;
  place-items: center;
  flex: 0.35;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.mapElement {
  flex: 0.65;
}
.insideDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insideDiv h2 {
  margin: 0px;
  margin-bottom: 10%;
}

@media only screen and (orientation: portrait) and (max-width: 780px) {
  .input-container {
    height: 20rem;
  }
  .input-div {
    width: 70%;
  }
}
@media only screen and (orientation: portrait) and (max-width: 700px) {
  .insideDiv h2 {
    font-size: 15px;
  }
}
@media only screen and (orientation: portrait) and (max-width: 420px) {
  .input-div {
    flex-direction: column;
  }
  .insideDiv h2 {
    font-size: 15px;
  }
  .inputElement {
    border-radius: 10px 10px 0 0;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1025px) {
  .input-div {
    width: 80%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 830px) {
  .insideDiv h2 {
    font-size: 18px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 570px) {
  .input-container {
    height: 20rem;
  }
  .input-div {
    width: 90%;
  }
  .insideDiv h2 {
    font-size: 15px;
  }
}
