.background {
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: #133667; */
  background-attachment: fixed !important;
  padding-bottom: 50px;
}

.vanta-canvas {
  position: fixed !important;
}
